[Unit]
Description=Bitcoin daemon

[Service]
User=pi
ExecStartPost=/bin/sleep 15
ExecStart=/usr/local/bin/bitcoind -listen=0 -connect=0 -server=1 -daemon -keypool=1

Type=forking

[Install]
WantedBy=multi-user.target
