[Unit]
Description=Bitcoin daemon

[Service]
User=pi
Group=pi
ExecStart=/usr/local/bin/bitcoind -connect=0 -nolisten -daemon -conf=/home/pi/iHodl/bitcoin.conf
Type=forking
KillMode=process
Restart=always
TimeoutSec=120
RestartSec=30

[Install]
WantedBy=multi-user.target
