## In /etc/systemd/system/bitcoind.service

[Unit]
Description=Bitcoin daemon

[Service]
ExecStartPre=/bin/sh -c 'sleep 30'
ExecStart=/usr/local/bin/bitcoind -daemon -conf=/home/pi/iHodl/bitcoin.conf 
Type=forking
KillMode=process
Restart=always
TimeoutSec=120
RestartSec=30

## offline extra security options: http://0pointer.de/blog/projects/security.html

## PrivateNetwork=yes
## PrivateTmp=yes

[Install]
WantedBy=multi-user.target
