[Unit]
Description=Create bitcoin keys
After=bitcoind.service


[Service]
User=pi
ExecStart=/home/pi/iHodl/createKeys.sh
ExecStartPost=/bin/sleep 1

[Install]
WantedBy=multi-user.target
