[Unit]
Description=Create bitcoin keys
After=bitcoind.service


[Service]
User=pi
ExecStartPre=/bin/sleep 10
ExecStart=/home/pi/iHodl/createKeys.sh

[Install]
WantedBy=multi-user.target
