[Unit]
Description=Display bitcoin keys on epaper display
After=processKeys.service

[Service]
User=pi
Group=pi
ExecStart=/home/pi/iHodl/displayKeys.sh
ExecStartPost=/bin/sleep 10

[Install]
WantedBy=multi-user.target
