[Unit]
Description=Erase epaper screen

[Service]
ExecStart=/home/pi/iHodl/eraseScreen.sh
User=pi
Group=pi
WorkingDirectory=/home/pi/iHodl/
[Install]
WantedBy=multi-user.target

