[Unit]
Description=Nuke keys after output to epaper display
After=displayKeys.service

[Service]
ExecStart=/home/pi/iHodl/nukeKeys.sh
User=pi




[Install]
WantedBy=multi-user.target
